<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}KayTrack - Gráficos{% endblock %}

{% block content %}
<style>
  #idgraficos {
    text-decoration: underline;
  }
</style>
<main class="main-content">
  <section class="graficosbox">
    <div>
      <img src="{{ url_for('static', filename='img/Comparativo_entre_Valor_FOB_e_Quantidade_Líquida_de_importação_e_exportação_nos_10_Municípios_Principais.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/Evolução_do_Valor_FOB_dos_5_Principais_Países.png') }}" alt="">

      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/Evolução_do_Valor_FOB_dos_5_Principais_Produtos.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/Evolucao_do_Volume_Exportado_KG_pelos_5_Principais_Paises.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/grafico.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/graficoDiversificao.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/graficoPandemia.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/graficoProjecaoFutura.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
    <div>
      <img src="{{ url_for('static', filename='img/graficoRegiões.png') }}" alt="">
      <span class="botao-cartao">Saiba mais </span>
    </div>
  </section>
  
</main>
{% endblock %}
