<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}KayTrack - Gráficos{% endblock %}

{% block content %}
<style>
  .grafico-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            gap: 20px;
            margin-top: 30px;
            width: 100%;

        }
        .grafico, .grafico_half {
            width: 90%;
            min-width: 450px;
            background-color: #fff;
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
        .grafico_half{
          width: 44.525%;
          min-width: 450px;
          height: auto;
        }
        @media (max-width: 1000px){
          .grafico_half {
            width: 90%;
            min-width: 450px;
          }
        }
</style>

<main class="main-content" >
 

  {% if graficos.PROD_EVO_EXP %}
    <div class="grafico-container">
        <div class="grafico">{{ graficos.PROD_EVO_EXP|safe }}</div>
        <div class="grafico_half">{{ graficos.EVO_FOB_PANDEMIA_EXP|safe }}</div>
        <div class="grafico_half">{{ graficos.COMP_VL_KG|safe }}</div>
        <div class="grafico">{{ graficos.PAIS_EVO_KG|safe }}</div>
        <div class="grafico">{{ graficos.PAIS_EVO_FOB_EXP|safe }}</div>
        
        
        

        
        
    </div>
  {% endif %}
  
</main>
{% endblock %}
