<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}KayTrack - Home{% endblock %}

{% block content %}
<main class="main-content">
  <section>
    <h1>Estatísticas de Comércio Exterior</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus alias quas doloribus numquam, sint dolorum molestias eaque voluptatibus inventore eos deserunt ad!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum molestias nisi nobis reprehenderit illum odit quis dicta alias repudiandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dicta inventore reprehenderit fugiat quos, voluptas aperiam aliquid aspernatur vel at eos nobis harum accusamus eligendi perspiciatis ipsa, earum aut velit?</p>
  </section>

  <img src="{{ url_for('static', filename='img/mapa.svg') }}" alt="mapa">
</main>
{% endblock %}
