  <!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}KayTrack - Gráficos{% endblock %}

{% block content %}
  <main class="main-content">

    <section>

        <table><!--Só um exemplo-->

          <h1>Rankings</h1>

            <tr>
                <th>Cidades</th>
                <th>Número de exportações</th>
                <th>Total exportado em reais</th>
            </tr>

            <tr>
                <td>São Paulo</td>
                <td>300.000</td>
                <td>R$2.000.000.000,00</td>
            </tr>

            <tr>
                <td>São José dos Campos</td>
                <td>120.000</td>
                <td>R$850.000.000,00</td>
            </tr>

            <tr>
                <td>Taubaté</td>
                <td>80.000</td>
                <td>R$500.000.000,00</td>
            </tr>

        </table>

    </section>
    {% endblock %}